.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list li {
  margin-bottom: 15px;
  padding: 8px 0;
  border-bottom: 1px solid #ccc;
}

.list li:last-child {
  border-bottom: none;
}

.list a {
  text-decoration: none;
  color: #e7e0d6;
  font-size: 1.1rem;
  font-weight: 700;
  transition: color 0.3s ease;
}

.list a:hover,
.list a:focus {
  color: #0056b3;
  text-decoration: underline;
}

.poster {
  display: none;
}

@media (min-width: 480px) {
  .list li {
    padding: 0 20px;
  }

  .poster {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 728px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .list li {
    width: calc((100% - 40px) / 2);
    padding: 0;
    height: 475px;
  }
  .poster {
    height: 425px;
  }

  .list li:last-child {
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: 1180px) {
  .list {
    gap: 5px;
  }

  .list li {
    width: calc((100% - 20px) / 4);
  }
}
