.container {
  margin-top: 20px;
  color: blanchedalmond;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 20px;
}

.item {
  width: 200px;
}
