.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #2d4042;
}

/*h1 {
  text-align: center;
  font-size: 1.25rem;
  color: #98a995;
}
*/

.animatedTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre;
  color: #98a995;
  ;
  border-right: 2px solid #98a995;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}


@media (min-width: 728px) {
  h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 1180px) {
  h1 {
    font-size: 2.5rem;
  }
}
